/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #e6f7ff 30%, #ccebff 90%);
}

.App {
  text-align: center;
  padding: 20px;
}

.chessboard {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  width: fit-content;
  margin: auto;
}

.boardContainer .lightSquare {
  background-color: #f5f0e8 !important;
  /* Lighter color for light squares */
}

.boardContainer .darkSquare {
  background-color: #b58863 !important;
}
